[GlobalSettings]
CmprAlgo = ALGO_LORENZO_REG
ErrorBoundMode = ABS
AbsErrorBound = 10
RelErrorBound = 1e-3
PSNRErrorBound = 70
L2NormErrorBound = .333
OpenMP = NO
[AlgoSettings]
InterpolationAlgo = INTERP_ALGO_CUBIC
InterpolationDirection = 0
Lorenzo = Yes
Lorenzo2ndOrder = No
Regression = Yes
Regression2ndOrder = No
QuantizationBinTotal = 65536