# vscode settings
.vscode/

# Build files
bin/
build
SZ3/

*.o
lib*
Makefile
CMakeCache.txt
cmake_install.cmake

*.pyc

# Data files
data/
benchmark results/
*.csv
*.log
*.root
*.ipynb
.ipynb_checkpoints/
*.zip

# Other
*.png
*.html